name: CI
# For this to work, please ensure that your repository has Pages enabled and configured to build using GitHub Actions

on:
  pull_request:
    branches: ["main"]

  push:
    branches: ["main"]
    tags:
      - "v*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: "poetry"

      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry install

      - name: Build site (_site directory name is used for Jekyll compatiblity)
        run: |
          source "$(poetry env info --path)/bin/activate"
          mkdocs build --config-file ./mkdocs.yml --site-dir ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4

  # deploy:
  #   needs: build
  #   if: github.ref == 'refs/heads/main'

  #   # Deploy to the github-pages environment
  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}

  #   runs-on: ubuntu-22.04
  #   steps:
  #     - name: Deploy Docs to GitHub Pages
  #       id: deployment
  #       uses: actions/deploy-pages@v4
